<a href="https://colab.research.google.com/github/abattiasia/KI-Kurs-Mystro/blob/main/Explain_24_06_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Morning 24.06.2024
##git and github for 2 PC

###variables int, list , truple, dic

###operators  <,  >, or, and

###condiotions, if..:, alse:, nested if..:, elif..:

###functions: def, return

#Ex

In [1]:
x=500
if x > 500:
  print ("x is heigher than 600")
else:
  print ("x is smaller than 600")

x is smaller than 600

""" if ..: elif ..: else

In [7]:
x=300
if x > 200:
  print ("x is heigher than 100")
elif x==100 :
  print ("x is equel 100")
else:
  print ("x is smaller than 100")

x is heigher than 100

# nested if

In [9]:
x=300
if x >= 50:
  print ("x is heigher than 50")

  if x==70 :
    print ("x is 70")
  else :
    print ("x is equel 100")

else:
  print ("x is smaller than 100")

x is heigher than 50
x is equel 100

""" new function

In [11]:
age = int(input ("Enter your Age : "))
print (age)
print (age*2)

Enter your Age : 55
55
110

""" and ,  or

In [ ]:
username:""
pwd=""
if username=="" and pwd=="":
  print ("welcome ok")
else:
  print()"" n.ok

""" true condition false

In [14]:
username="admin"
print (username) if username == "admin" else print ("erorr")

admin

Functions:  internal and External

In [19]:
def mysum(x,y):
  result=x+y
  return result

print(mysum(4,7))

11

Function 02