## ***excersise***

In [ ]:
a=5
b=9
c=a+b
print(c)

14

ex2

In [ ]:
name = "Ola"
age = 24
print (name, age)
print ({name},{age})

Ola 24
{'Ola'} {24}

ex1

In [ ]:
name = "Ola"
age = 24
print (name, age)

Ola 24

ex2

In [ ]:
is_sunny=1  #is_sunny=1
is_raning=0
print(is_sunny)
print(is_raning)

1
0

In [ ]:
counter=0
print(counter)
counter=counter+1
print(counter)
counter=counter+1
print(counter)

0
1
2

In [ ]:
x=5
y=10
temp=x
x=y
y=temp
print(x)
print(y)

10
5

In [ ]:
firstname = "OLa"
print(firstname)

OLa

In [ ]:
pi=3.14
radius=5
circumference= 2 * pi * radius
print(circumference)

31.400000000000002

In [ ]:
x=5
if x != 6 :
  print("True")
else:
  print ("False")

True