## Coding Exercise #0106

### 1. Functions:

#### 1.1. User defined functions (UDFs):

A function with input arguments and a returned value:

In [ ]:
def prod(a,b):
    x = a*b
    return x
prod(3,4)

12

A function without input argument:

In [ ]:
def output():
    return  'Hello World!'
print(output())

Hello World!

A function without returned value:

In [1]:
def times3(a):
    print(3*a)
    return
times3(7)

21

A function without input argument nor returned value:

In [15]:
 global sum_total

def increase():

    sum_total =0
    for i in range(11):
        sum_total += i  #sum_total = sum_total + i
increase()
sum_total

55

A function with undetermined number of input arguments:

In [20]:
def sum_up(*vals):
    total = 0
    for x in vals:
        total += x #1 , 3 , 6 #total = total + x
    return total

In [21]:
sum_up(1,2,3)

166

In [18]:
sum_up(1,2,3,4,5)

15

A function with multiple return values:

In [ ]:
def ArithmeticOprs(a,b):
    return a + b, a-b, a * b, a/b

In [ ]:
type(ArithmeticOprs(4,2))

In [ ]:
ArithmeticOprs(4,2)

Default values for the input arguments:

In [ ]:
def ArithmeticOprs(a=2,b=1):
    return a + b, a - b, a * b, a/b

In [ ]:
ArithmeticOprs()

In [ ]:
ArithmeticOprs(3)

In [ ]:
ArithmeticOprs(b=3)

A local variable's scope is limited to the function body where it is defined:

In [ ]:
# 'result' inside of the function body and 'result' outside of it are different variables.
result = 333
def average(*a):
    result = 0
    for x in a:
        result += x
    result /= len(a)
    return result

In [ ]:
average(1,2,3,4,5)

In [ ]:
# 'result' defined outside of the function kept its original value.
result

As 'result' is defined as a global variable, it is the same as the one defined outside of the function body.

In [ ]:
# Please, notice that there is no explicit return value.
result = 0
def average(*a):
    global result
    for x in a:
        result += x
    result /= len(a)
    return

In [ ]:
average(1,2,3,4,5)

In [ ]:
# Now, 'result' contains the value calculated byh the function.
result

#### 1.2. Lambda functions:

In [ ]:
# This function returns a lambda function.
def makeMyFunc(a):
    return lambda x: a*x

In [ ]:
# Assign lambda function to a variable, so that it can be used just like any other function.
myFunc = makeMyFunc(3)

NameError: ignored

In [ ]:
type(myFunc)

In [ ]:
myFunc(4)

NameError: ignored

Lambda function with map() and filter():

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# Map the lambda function to each element of the list.
list(map(lambda x: x * 2, a))

In [ ]:
# Filter the list elements according to the condition given by the lambda function.
list(filter(lambda x: x % 3 ==0, a))

#### 1.3. Custom modules:

In [ ]:
import myModule as md

In [ ]:
md.sum(3,4)

In [ ]:
md.product(4,5)

In [26]:
name="Ola"
len(name)#string is a list of char ['O','l','a']
name[2]

'a'

In [28]:
def reversed_string(s):
  reversed_s=" "
  for char in s:
    reversed_s = char +reversed_s
  return reversed_s

reversed_string("Mohammed")

'demmahoM '

In [30]:
def greeting(name):
  print(f"Hello,{name} ")
Calling=input("Entter You name: ")
greeting(Calling)